/*基础设置*/
.container{
    width: 1190px;
    margin: 0 auto;
}

/* region 顶部导航条start */
.topbar{
    height: 30px;
    background-color: #ECECEC;
}

.welcome{
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666666;
}
.welcome span,.welcome a {
    font-size: 12px;
}

.welcome .hello{
    margin-right: 28px;
}

.welcome .login{
    padding-right: 10px;
    border-right: 1px solid #666;
}
.welcome .register{
    padding-left: 10px;
}

.topbar-nav .list{
    height: 30px;
    line-height: 30px;
}

.topbar-nav .list li{
    float: left;


}
.topbar-nav .list li a{
    padding:0 15px;
    border-right: 1px solid #666;
}

.topbar-nav .list li:first-child a{
    padding-left: 0;
}
.topbar-nav .list li:last-child a{
    padding-right:0;
    border: 0;
}
/* endregion 顶部导航条end */

/* region 头部start */
.header{
    height: 120px;
}
.header .search form{
    margin: 42px;
    font-size: 0;
}

.header .search input{
    height: 34px;
    width: 508px;
    border: 1px solid #DD302D;
}
.header .search button{
    height: 36px;
    width: 80px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url('/images/serch_icon.png');
    background-repeat: no-repeat;
    background-position: 28px 6px;
}
/* endregion 头部end */

/* region 主导航区start */
.mainnav{
    height: 48px;
    border-bottom: 1px solid #DD302D;

}

.mainnav .theheader{
    float: left;
    line-height: 48px;
    width: 190px;
    text-align: center;
    background-color: #DD302D;
    margin-right: 10px;
    font-size: 16px;
}

.mainnav .theheader a{
    color: #FFF;
}
.mainnav li{
    float: left;
    line-height:48px ;
    margin-right: 20px;
    font-size: 16px;
}
.mainnav li:last-child{
    margin-right: 0;
}
/* endregion 主导航区end */

/* region 主内容区start */

.main-content{
    margin-top: 10px;
}
.main-content .slide-nav{
    height: 458px;
    width: 190px;
    background-color: #F4F4F4;
    position: relative; /*相对定位*/
}

.main-content .slide-nav li{
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;

}

.main-content .slide-nav li:hover{
    background-color: #DD302D;


}
.main-content .slide-nav li:hover>a{
    color: white;
}
.main-content .slide-nav li:hover .second-menu{
    display: block;
}
.second-menu{
    width: 680px;
    height: 458px;
    background-color: #F4F4F4;
    position: absolute;/* 绝对定位 */
    top: 0;
    left: 190px;
    padding-left: 20px;
    display: none;
}

.second-menu dl{
    height: 36px;
    line-height: 36px;
}
.second-menu dl:first-child{
    margin-top: 10px;
}
.second-menu dt{
    float: left;
    width: 70px;
    font-weight: bold;
    margin-right: 10px;
}
.second-menu dd{
    float: left;
}
.second-menu dd a{
    padding: 0 10px;
    border-left: 1px solid #666;
}



/* 轮播广告图部分*/
.main-content .banner{
    height: 458px;
    width: 690px;
    background-color:rebeccapurple;
    margin:0 10px;
}





/*右侧*/
.main-content .slide-other{
    height: 458px;
    width: 290px;

}
.main-content .slide-other .message{
    width: 260px;
    height: 156px;
    border: 1px solid #D9D9D9;
    padding: 0 14px ;
}

.main-content .slide-other .message .title{
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #D9D9D9;

}
.main-content .slide-other .message .title span{
    font-size: 14px;
}
.main-content .slide-other .message .title a{
    font-size: 12px;
}
.main-content .slide-other .message .msg-list li{
    height: 26px;
    line-height: 26px;
}




.main-content .slide-other .other-nav{
    margin-top: 10px;
    width: 290px;
    height: 290px;
    overflow: hidden;
}
.main-content .slide-other .other-nav-list:first-child{
    margin-top: 16px;
}
.main-content .slide-other .other-nav-list:nth-child(2){
    margin:17px 0;
}
.main-content .slide-other .other-nav-list li{
    width: 48px;
    height: 70px;
    float: left;
    margin: 0 11px;
    text-align: center;
    cursor: pointer;
}
.main-content .slide-other .other-nav-list li:first-child{
    margin-left: 16px;
}
.main-content .slide-other .other-nav-list .picture{
    width: 48px;
    height: 48px;
    background-image: url('/images/精灵图-侧边功能.png');
}
.main-content .slide-other .other-nav-list:nth-child(1) li:nth-child(1) .picture{
    background-position: 0 0;
}
.main-content .slide-other .other-nav-list:nth-child(1) li:nth-child(2) .picture{
    background-position: -48px 0;
}
.main-content .slide-other .other-nav-list:nth-child(1) li:nth-child(3) .picture{
    background-position: -96px 0;
}
.main-content .slide-other .other-nav-list:nth-child(1) li:nth-child(4) .picture{
    background-position: -144px 0;
}


.main-content .slide-other .other-nav-list:nth-child(2) li:nth-child(1) .picture{
    background-position: 0 -48px;
}
.main-content .slide-other .other-nav-list:nth-child(2) li:nth-child(2) .picture{
    background-position: -48px -48px;
}
.main-content .slide-other .other-nav-list:nth-child(2) li:nth-child(3) .picture{
    background-position: -96px -48px;
}
.main-content .slide-other .other-nav-list:nth-child(2) li:nth-child(4) .picture{
    background-position: -144px -48px;
}

.main-content .slide-other .other-nav-list:nth-child(3) li:nth-child(1) .picture{
    background-position: 0 -96px;
}
.main-content .slide-other .other-nav-list:nth-child(3) li:nth-child(2) .picture{
    background-position: -48px -96px;
}
.main-content .slide-other .other-nav-list:nth-child(3) li:nth-child(3) .picture{
    background-position: -96px -96px;
}
.main-content .slide-other .other-nav-list:nth-child(3) li:nth-child(4) .picture{
    background-position: -144px -96px;
}



/* endregion 主内容区end */

/* region 秒杀专场start */
.seckill{
    margin-top: 10px;
}
.seckill img{
    float: left;
    margin-right: 11px;
    cursor: pointer;
}
.seckill img:last-child{
    float: left;
    margin-right: 0;
}

/* endregion 秒杀专场end */

/* region 楼层start */
.floor{
    margin-top: 48px;
}
.floor-name{
    font-size: 20px;
}
.floor .floor-nav{
    line-height: 30px;
    height: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid #DD302D;
}

.floor-nav-list li {
    float: left;
    font-size: 14px;

}
.floor-nav-list li a{
    padding: 0 10px;
    border-right: 1px solid #666;
}
.floor-nav-list li:first-child a{
    padding-left: 0;
}
.floor-nav-list li:last-child a{
    padding-right: 0;
    border: 0;
}

.floor .floor-info .items{
    float: left;
}

.floor-info-items1{
    width: 190px;
    height: 392px;
    background-color: #F4F4F4;
    padding: 20px;
}
.item1-list{
    margin-bottom: 29px;
}
.item1-list li{
    width: 90px;
    height: 22px;
    padding-bottom: 3.5px;
    border-bottom:1px solid #D9D9D9;
    font-size: 16px;
    text-align: center;
}
.item1-list li:nth-child(2n-1){
    float: left;
}

.item1-list li:nth-child(2n){
    float:right;
}
.item1-list li:nth-child(3),.item1-list li:nth-child(4){
    margin: 14.4px 0;
}


.floor-info-items2 {
    width: 340px;
    height: 432px;
}
.floor-info-items3,.floor-info-items4{
    width: 206px;
    height: 432px;
    border-right: 1px solid #E2E2E2;
}

.floor-info-items5{
    width: 206px;
    height: 432px;
}
.floor-info-items3 img, .floor-info-items4 img, .floor-info-items5 img {
    border-bottom: 1px solid #E2E2E2;
}
/* endregion 楼层end */

/* region 页脚start */
.footer{
    height: 440px;
    background-color: #483E3E ;
    overflow: hidden;
}

.footer .footer-text{
    height: 176px;
    margin-top: 48px;
    padding-bottom: 22px;
    border-bottom: 1px solid #584D4D;
}

.footer-text .links-list{
    float: left;
    height: 176px;
    width: 190px;
    margin-right: 10px;
}
.footer-text .links-list:last-child{
    margin-right: 0;
}
.footer-text .links-list a {
    color: white;
    font-size: 14px;
}
.footer-text .links-list li{
    margin-bottom: 4px;
}

.bottom-links{
    text-align: center;
}
.bottom-links-list{
    display: inline-block;
    margin-top: 47px;
    margin-bottom: 10px;
}
.bottom-links-list li{
    float: left;
}

.bottom-links-list li a{
    padding:0 26px;
    border-right: 1px solid white;
    color: white;
}
.bottom-links-list li:first-child a{
    padding-left: 0;
}
.bottom-links-list li:last-child a{
    padding-right: 0;
    border: 0;
}
.final{
    color: white;
    font-size: 14px;
}

/* endregion 页脚end */